<!-- <div id="addSTGArea"> -->
<div class="container" id="addSTGArea">
  <!-- <div class="well">  <h1>New Short Term Goal</h1></div> -->
</div>
<div id="newOneMonth">
    <%= render 'one_month_goals/form' %>
    <p><%= link_to "Back", current_user, :class => 'btn btn-success', :id => 'backtodash' %></p>
</div>
<!-- </div> -->
