<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Wynning <%= @user.first_name.capitalize %></h1>
    <p>
      You have successfully signed up to Wynning.com,
      your username is: <%= @user.username %><br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="http://wynning.co"><%= @url %></a>
    </p>
    <p>Time to start working towwards your dreams!</p>
  </body>
</html>
