<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="<%= asset_path("31178_Wynning_Logo_PB.png") %>" class="img-responsive" alt="">

                <hr>
                <p><em>Start Living the Life of Your Dreams!</em></p>
                <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>
    <h1>Welcome to Wynning, <%= @user.first_name.capitalize %>!</h1>
    <p>
      You have successfully signed up to Wynning.com,
      your username is: <%= @user.username %><br>
    </p>
    <p>
      To login to the site, just follow this link: <a href="http://wynning.co"><%= @url %></a>
    </p>
    <p>Time to start working towards your dreams!</p>
  </body>
</html>
