<h1><strong><em>W</em>YNNING</strong></h1>
<h2>Start Living the Life of Your Dreams</h2>
<br>
<br>
    <h2>Welcome to <strong><em>W</em>YNNING</strong>, <%= @user.first_name.capitalize %>!</h2>
    <p>
      You have successfully signed up to Wynning.com,
      your username is: <%= @user.username %>
    </p>
    <p>
      To login to the site, just follow this link: <a href="http://wynning.co">http://wynning.co</a>
    </p>
    <p>Time to start working towards your dreams!</p>
<br>
      <h2>Making Your Dreams Possible</h2>
      <p>Remember: The secret of getting ahead is getting started!</p>
      <p>The secret of getting started is breaking goals</p>
      <p>into small, easily manageable chunks.</p>
      <br>
      <h2>You've Taken the First Step!</h2>
      <h2>Today is the BEST Day to Begin Your New Life!</h2>
