<h1> THIS IS MY PROFILE!!!!!!</h1>

<p>Hi <%=@user.first_name %>. We are glad you've decided to end your loser ways!</p>
<p> Your goal of <%= @user.high_level_goal %> is cute... </p>
<p> We will now spam your inbox at <%= @user.email %> and call you constantly at <%=@user.phone_number %>
