<h1>Hello World</h1>

<%#= link_to 'Sign Up Bitch', new_user_path %>
<%#= link_to 'Log In Loser', new_session_path %>
<%#= link_to 'Log out', logout_path, method: "delete" %></p>

<% if current_user %>
    <p id="login">Welcome, <%= current_user.first_name.capitalize %>  |  <%= link_to "Log out", logout_path, method: "delete" %></p>
<% else %>
  <ul>
    <p id="login"><%= link_to "Login Loser", new_session_path %>  |  <%= link_to "Signup", new_user_path %></p>
  </ul>
<% end %>
