<!doctype html> -->


<!-- <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on wynning.">

    <title>Wynning</title>

    <!-Page styles -->


    <!-- </style> -->
  <!-- </head> -->
  <!-- <body> -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="wynning-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <span class="wynning-title mdl-layout-title">
            <img class="wynning-logo-image" src="#">
          </span>
          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="wynning-header-spacer mdl-layout-spacer"></div>
          <div class="wynning-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search-field">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search-field" />
            </div>
          </div>
          <!-- Navigation -->
          <div class="wynning-navigation-container">
            <nav class="wynning-navigation mdl-navigation">
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Sign Up</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Winners Login</a>
              <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Coaches Login</a>
            </nav>
          </div>
          <!-- <button class="wynning-more-button mdl-button mdl-js-button mdl-button-icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button> -->
          <!-- <ul class="mdl-menu mdl-js-menu mdl-menu-bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">5.0 Lollipop</li>
            <li class="mdl-menu__item">4.4 KitKat</li>
            <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
            <li class="mdl-menu__item">wynning History</li>
          </ul> -->
          <span class="wynning-mobile-title mdl-layout-title">
            <img class="wynning-logo-image" src="#">
          </span>
        </div>
      </div>

      <div class="wynning-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="wynning-logo-image" src="#">
        </span>
        <!-- <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Phones</a>
          <a class="mdl-navigation__link" href="">Tablets</a>
          <a class="mdl-navigation__link" href="">Wear</a>
          <a class="mdl-navigation__link" href="">TV</a>
          <a class="mdl-navigation__link" href="">Auto</a>
          <a class="mdl-navigation__link" href="">One</a>
          <a class="mdl-navigation__link" href="">Play</a>
          <div class="wynning-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Versions</span>
          <a class="mdl-navigation__link" href="">Lollipop 5.0</a>
          <a class="mdl-navigation__link" href="">KitKat 4.4</a>
          <a class="mdl-navigation__link" href="">Jelly Bean 4.3</a>
          <a class="mdl-navigation__link" href="">wynning history</a>
          <div class="wynning-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">Resources</span>
          <a class="mdl-navigation__link" href="">Official blog</a>
          <a class="mdl-navigation__link" href="">wynning on Google+</a>
          <a class="mdl-navigation__link" href="">wynning on Twitter</a>
          <div class="wynning-drawer-separator"></div>
          <span class="mdl-navigation__link" href="">For developers</span>
          <a class="mdl-navigation__link" href="">App developer resources</a>
          <a class="mdl-navigation__link" href="">wynning Open Source Project</a>
          <a class="mdl-navigation__link" href="">wynning SDK</a>
        </nav> -->
      </div>

      <div class="wynning-content mdl-layout__content">
        <a name="top"></a>
        <div class="wynning-be-together-section mdl-typography--text-center">
          <div class="wynning-pier">
            <a href>
              <img src="assets/keys-pier.png">
            </a>
          <div class="wynning-font wynning-slogan">wynning at life. 15 minutes at a time.</div>
          <div class="wynning-font wynning-sub-slogan">welcome to wynning... reach your goals. win at life.
          </div>

          </div>

          <a href="#screens">
            <button class="wynning-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
              <i class="material-icons">expand_more</i>
            </button>
          </a>
        </div>
        <div class="wynning-screen-section mdl-typography--text-center">
          <a name="screens"></a>
          <div class="mdl-typography--display-1-color-contrast">Make your Dreams a Reality</div>
          <div class="wynning-screens">
            <div class="wynning-wear wynning-screen">
              <a class="wynning-image-link" href="">
                <img class="wynning-screen-image" src="#">
                <img class="wynning-screen-image" src="#">
              </a>
              <a class="wynning-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Daily reminders</a>
            </div>
            <div class="wynning-phone wynning-screen">
              <a class="wynning-image-link" href="">
                <img class="wynning-screen-image" src="#">
              </a>
              <a class="wynning-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Email or Text</a>
            </div>
            <div class="wynning-tablet wynning-screen">
              <a class="wynning-image-link" href="">
                <img class="wynning-screen-image" src="#">
              </a>
              <a class="wynning-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">See what goals your friends are reaching</a>
            </div>
            <div class="wynning-tv wynning-screen">
              <a class="wynning-image-link" href="">
                <img class="wynning-screen-image" src="#">
              </a>
              <a class="wynning-link mdl-typography--font-regular mdl-typography--text-uppercase" href="">Personalized Goal Management</a>
            </div>
            <div class="wynning-auto wynning-screen">
              <a class="wynning-image-link" href="">
                <img class="wynning-screen-image" src="#">
              </a>
              <a class="wynning-link mdl-typography--font-regular mdl-typography--text-uppercase mdl-typography--text-left" href="">Coming Soon: Speak Live with A Life Coach</a>
            </div>
          </div>
        </div>
        <div class="wynning-wear-section">
          <div class="wynning-wear-band">
            <div class="wynning-wear-band-text">
              <div class="mdl-typography--display-2 mdl-typography--font-thin">The Best Goal Management App</div>
              <br>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                <em>“Identify your goals, and give your power and energy to the solutions.”</em><br>

                Wynning works perfectly with your busy lifestyle. It's easy to begin. Spend 15 minutes a day of focused, dedicated time towards your dreams and you will reach your goals in no time!
              </p>
              <p class="mdl-typography--headline mdl-typography--font-thin">
                So often people forget that the real power of change lies within.  There can be no real change, no step forward, until YOU decide to take that first step.  Here at Wynning!, we help guide you through that first step towards the best life for you!
              </p>
              <p>
                <a class="mdl-typography--font-regular mdl-typography--text-uppercase wynning-alt-link" href="">
                  Sign up to get started&nbsp;<i class="material-icons">chevron_right</i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="wynning-customized-section">
          <div class="wynning-customized-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">Customized by you, for you</div>
            <p class="mdl-typography--font-light">
              You decide what steps you take to reach your goals. We help you break yor goal down into small manageable steps that you can do in as little as 15 minutes a day.
              <br>
              <a href="" class="wynning-link mdl-typography--font-light">Customize your progress</a>
            </p>
          </div>
          <div class="wynning-customized-section-image"></div>
        </div>
        <div class="wynning-more-section">
          <div class="wynning-section-title mdl-typography--display-1-color-contrast">More from wynning</div>
          <div class="wynning-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="#">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Get started on wynning</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">What is your dream? Do you want to get in the best shape of your life, buy your first home, save for a dream vacation, start your own business?</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="wynning-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Choose your dream
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="#">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Create your personalized profile</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Watch your progress bar as you complete each day move closer towards your victory!</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="wynning-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   How does it work?
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="#">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Share your progress with your friends and family</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">Create your own cheering section. Cheer on your friends as they complete their goals too.</span>
              </div>
              <div class="mdl-card__actions">
                 <a class="wynning-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Share on social media
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="#">
              </div>
              <div class="mdl-card__title">
                 <h4 class="mdl-card__title-text">Celebrate</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">We believe you should celebrate each victory. There is no step too small. Let us throw you a party! </span>
              </div>
              <div class="mdl-card__actions">
                 <a class="wynning-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Woohoo!
                   <i class="material-icons">chevron_right</i>
                 </a>
              </div>
            </div>
          </div>
        </div>

        <footer class="wynning-footer mdl-mega-footer">
          <div class="mdl-mega-footer--top-section">
            <div class="mdl-mega-footer--left-section">
              <button class="mdl-mega-footer--social-btn"></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"></button>
              &nbsp;
              <button class="mdl-mega-footer--social-btn"></button>
            </div>
            <div class="mdl-mega-footer--right-section">
              <a class="mdl-typography--font-light" href="#top">
                Back to Top
                <i class="material-icons">expand_less</i>
              </a>
            </div>
          </div>

          <div class="mdl-mega-footer--middle-section">
            <p class="mdl-typography--font-light"> © 2015 Wynning at Life</p>
            <!-- <p class="mdl-typography-font-light">Some features and devices may not be available in all areas</p>
          </div>

          <div class="mdl-mega-footer-bottom-section">
            <a class="wynning-link wynning-link-menu mdl-typography-font-light" id="version-dropdown">
              Versions
              <i class="material-icons">arrow_drop_up</i>
            </a>
            <ul class="mdl-menu mdl-js-menu mdl-menu-top-left mdl-js-ripple-effect" for="version-dropdown">
              <li class="mdl-menu__item">5.0 Lollipop</li>
              <li class="mdl-menu__item">4.4 KitKat</li>
              <li class="mdl-menu__item">4.3 Jelly Bean</li>
              <li class="mdl-menu__item">wynning History</li>
            </ul>
            <a class="wynning-link wynning-link-menu mdl-typography-font-light" id="developers-dropdown">
              For Developers
              <i class="material-icons">arrow_drop_up</i>
            </a>
            <ul class="mdl-menu mdl-js-menu mdl-menu-top-left mdl-js-ripple-effect" for="developers-dropdown">
              <li class="mdl-menu__item">App developer resources</li>
              <li class="mdl-menu__item">wynning Open Source Project</li>
              <li class="mdl-menu__item">wynning SDK</li>
              <li class="mdl-menu__item">wynning for Work</li>
            </ul>
            <a class="wynning-link mdl-typography-font-light" href="">Blog</a>
            <a class="wynning-link mdl-typography-font-light" href="">Privacy Policy</a> -->
          </div>

        </footer>
      </div>
    </div>
    <a href="https://github.com/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>



 <!--  </body>
</html>
