
            <a href>
              <img src="assets/keys-pier.png">
            </a>
          <div>wynning at life. 15 minutes at a time.</div>
          <div>Welcome to wynning... reach your goals. win at life.
          </div>

          </div>

          <
          <div class="">Make your Dreams a Reality</div>

              <a class="wynning" href="">Daily reminders</a>

              <a class="" href="">Email or Text</a>
            <a>See what goals your friends are reaching</a>

              <a>Personalized Goal Management</a>

              <a >Coming Soon: Speak Live with A Life Coach</a>

              <div>The Best Goal Management App</div>

              <p>Wynning works perfectly with your busy lifestyle. It's easy to begin. Spend 15 minutes a day of focused, dedicated time towards your dreams and you will reach your goals in no time!
              </p>
              <p>

                  Sign up to get started&nbsp;<i></i>
                </a>
              </p>

            <div>Customized by you, for you</div>
            <p>
              You decide what steps you take to reach your goals. We help you break yor goal down into small manageable steps that you can do in as little as 15 minutes a day.
            </p>
            <br>
              <a>Customize your progress</a>
            </p>
          </div>
        </div>

          <div>More from wynning</div>
                 <h4 class="mdl-card__title-text">Get started on wynning</h4>
              </div>

                <span>What is your dream? Do you want to get in the best shape of your life, buy your first home, save for a dream vacation, start your own business?</span>
              </div>

                   <a>Choose your dream

                 </a>

                 <h4>Create your personalized profile</h4>
              </div>

                <span>Watch your progress bar as you complete each day move closer towards your victory!</span>
              </div>
                   <a>How does it work?</a>

              </div>
            </div>


                 <h4>Share your progress with your friends and family</h4>
                <span>Create your own cheering section. Cheer on your friends as they complete their goals too.</span>


                 <a>
                   Share on social media

                 </a>

                 <h4>Celebrate</h4>
                <span>We believe you should celebrate each victory. There is no step too small. Let us throw you a party! </span>

              <a class="top" href="#top">
                Back to Top
              </a>
            <p>© 2015 Wynning at Life</p>
