<div id="title" class="slide header">
  <h1><em>W</em>YNNING</h1>
  <h3>Wynning at life, 15 minutes at a time.</h3>

</div>

<div id="slide1" class="slide">
  <div class="title">
    <h1>Welcome to Wynning!</h1>
    <p>Wynning works perfectly with your busy lifestyle. It's easy to begin. Spend 15 minutes a day of focused, dedicated time towards your dreams and you will reach your goals in no time!
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title">
    <h1>Customized by you, for you</h1>
    <p>You decide what steps you take to reach your goals. We help you break your goal down into small manageable steps that you can do in as little as 15 minutes a day.
    </p>
  </div>
  <img src="http://freedomforce.com/wp-content/uploads/2015/05/house-purchase.jpg">
  <img src="http://blog.jbutlerpropertymgmt.com/wp-content/uploads/2013/11/save-money.jpg">
</div>

<div id="slide3" class="slide">
  <div class="title">
    <h1>Dreams do come true!</h1>
    <p>What is your dream? Do you want to get in the best shape of your life, buy your first home, save for a dream vacation, start your own business?</p>
  </div>
</div>

<div id="slide4" class="slide header">
  <h1><em>W</em>YNNING</h1>
  <h2>So many people are living your dream.</h2>
  <h2>Don't you think it's time to join them?</h2>
</div>
