
   <div id="page">
    

    <div class="navbar-bck-fixed-top2 header-nav" role="navigation">
      <div class="header-menu">
        <%# image_tag('31178_Wynning_Logo_PB.png') %>
        <a href="#" class="header-logo"><img src="/images/31178_Wynning_Logo_PB.png" alt="Wynning: Living the Life of Your Dreams."></a>

        <ul class="hidden-mobile">
          
          <li ><a href="#">Dashboard</a></li>
          
          <li ><a href="#">Activity</a></li>
          <li ><a href="#">Ideas</a></li>
        </ul>
      
        <form class="hidden-mobile home-search-form" role="search" action="/search/" method="get" accept-charset="utf-8">
          <input id="search-text" name="q" type="text" placeholder="Search" autocomplete="off"><button type="submit" class="btn bucketblue btn-default">submit<i class="icon-search"></i></button>
        </form>
      </div><!--/header-menu -->
      <div class="header-buttons">
        
        <div class="dropdown">
          <a id="my-account" class="dropdown-toggle"
          data-toggle="dropdown" href="#">

          
          <img src="/images/generic-profile-pic.png" width="41" height="41" alt="Generic Profile Pic">
          
          <span id="my-accout-down"><i class="icon-caret-down icon-fixed-width nomargin"></i></span>
        </a>
        <ul class="dropdown-menu text-left">
          <li><a href="/list/d_jack_99/"><i class="icon-group"></i>My Goals</a></li>
          <li class="divider"></li>
          <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/add/"><i class="icon-edit-sign"></i>Add a Goal</a></li>
          <li><a href="/following/people/"><i class="icon-group"></i>Following</a></li>
          <li class="divider"></li>
          <li class="visible-mobile"><a href="/search/"><i class="icon-search"></i>Search</a></li>
          <li class="divider"></li>
          <li><a href="/profile/edit/"><i class="icon-edit"></i>Edit Profile</a></li>
          <li><a href="/accounts/password/change/"><i class="icon-key"></i>Change Password</a></li>
          <li class="divider"></li>
          <li><a id="btn-logout" href="/accounts/logout/"><i class="icon-signout"></i>Log out</a></li>
        </ul>
      </a>

    </div>
    
  </div>
</div>



<div id="banner">


  <div class="something-extra">
  </div>


  <div id="main-accounts" class="wrapper ">

    <div class="row  main-home-row">
    <div class="col-md-12">
      <div class="row">
        

<div id="thepage" style="display: none;">home</div>
<div class="flexslider home-banner">
  <div class="flex-content">
    <div class="your-goals"><h2>Your dreams, made possible</h2></div>
    <div class="banner-tagline"><h3>Discover your <strong>dreams</strong> and explore over <strong>3,568,862 goals.</strong></h3></div>
    
  </div>
  <div class="clear"></div>
<br>
<div class="clear"></div>
<br>



  
    <li><div><img src="images/keys-pier.png" />
      <div class="overlay">
        <div class="banner-bottom">
          <i class="icon-check"></i>
        </div>
      </div>

    </div>
  </li>


</ul>

</div>


    <div class="block-how-it-works">
      <div class="inner-wrap">
        <ul id="how-it-works">
          <li>
            <a class="set-goals" href="/accounts/signup/"></a>
            <h4>Set your goals and get tips as you go</h4>
          </li>

          <li>
            <a class="get-inspired" href="/accounts/signup/"></a>
            <h4>Get inspired with people sharing the same goals</h4>
          </li>

          <li>
            <a class="see-others" href="/accounts/signup/"></a>
            <h4>See how others have achieved their goals</h4>
          </li>
        </ul>
        <div class="clear"></div>

      </div>
      <br/>
    </div>
    <br/>

    <div id="highlighted" class="wrapper">
     <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div id="counter">
          
          <span class="hl">268,649&nbsp;Members</span> are tracking <span class="hl">3,568,862&nbsp;Goals</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <ul class="nav nav-tabs homepage-tabs">
    <li class="active" style="text-align: center"><a href="#featured-goals" data-toggle="tab">
      Popular Goals
    </a></li>
    <li  style="text-align: center"><a href="#featured-members" data-toggle="tab">
      Featured Members
    </a>
  </li>
</ul>
</div>
<div class="tab-content featured-tab-content">
  <div class="tab-pane active endless_page_template" id="featured-goals">
    <div class="home-featured">

      <div id="block-featured-items">


        
        <div class="item grid-item col-md-4">
          
          
          <div class="img-thumbnail <!--orange-->" img src="rcnRREq9i.png"/>
            
              

  <div class="info">
    <h2><a href="/i/nMch/">Own Your Own Business</a></h2>
    <div class="overlay-perm">
      <span class="done-by"><i class="icon-check"></i>Done by <span class="blue-text">118 <i class="icon-user"></i></span></span>
    </div>
    <div class="overlay">
      <div class="doing_done">
        <span class="listed-by"><i class="icon-list-ul"></i>Listed by 614 <i class="icon-user"></i></span>
      </div>

      <div class="info-btns">
        <div class="info-stats">
         <i class="icon-heart"></i>114&nbsp;&nbsp;&nbsp;
         <i class="icon-comment"></i>0
       </div>

       <ul>
        
        <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/3282907/copy/" class="action-add"><i class="icon-plus"></i><br />ADD</a></li>
        <li><a data-backdrop="true" class="action-add-completed" data-toggle="modal" data-target="#itemModal" data-remote="/3282907/copy/completed/"><i class="icon-check"></i><br />DONE</a></li>
        <li><a href="/3282907/like/" class="action-like"><i class="icon-thumbs-up-alt"></i><br />LIKE</a></li>
        

        <li><a class="addthis_button_compact" addthis:url="//bucketlist.org//i/nMch/" addthis:title="Go ghost hunting"><i class="icon-share"></i><br />SHARE</a></li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>


        <div class="item grid-item col-md-4">
          
          
          <div class="img-thumbnail <!--orange-->" style="background-image: url('http://yourdream.s3.amazonaws.com/media/cache/ae/b6/aeb64eed613e938e85ea659d578c13fb.jpg?Signature=efqwxEO31ghAdBcEYMo7ZLL5dHY%3D&amp;Expires=1438921458&amp;AWSAccessKeyId=AKIAIXZP2D2COIV43TFA');">
            
              

  <div class="info">
    <h2><a href="/i/pNx6/">Visit The Egyptian Pyramids</a></h2>
    <div class="overlay-perm">
      <span class="done-by"><i class="icon-check"></i>Done by <span class="blue-text">None <i class="icon-user"></i></span></span>
    </div>
    <div class="overlay">
      <div class="doing_done">
        <span class="listed-by"><i class="icon-list-ul"></i>Listed by None <i class="icon-user"></i></span>
      </div>

      <div class="info-btns">
        <div class="info-stats">
         <i class="icon-heart"></i>7&nbsp;&nbsp;&nbsp;
         <i class="icon-comment"></i>1
       </div>

       <ul>
        
        <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/3764734/copy/" class="action-add"><i class="icon-plus"></i><br />ADD</a></li>
        <li><a data-backdrop="true" class="action-add-completed" data-toggle="modal" data-target="#itemModal" data-remote="/3764734/copy/completed/"><i class="icon-check"></i><br />DONE</a></li>
        <li><a href="/3764734/like/" class="action-like"><i class="icon-thumbs-up-alt"></i><br />LIKE</a></li>
        

        <li><a class="addthis_button_compact" addthis:url="//bucketlist.org//i/pNx6/" addthis:title="Visit Petra, Jordan"><i class="icon-share"></i><br />SHARE</a></li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>


        <div class="item grid-item col-md-4">
          
          
          <div class="img-thumbnail <!--orange-->" style="background-image: url('http://yourdream.s3.amazonaws.com/media/cache/5d/46/5d466f652c3c7d3ab4b1af5774e79cf2.jpg?Signature=NsbCJpJoyulKPIU65ElCpU1ud6w%3D&amp;Expires=1438921458&amp;AWSAccessKeyId=AKIAIXZP2D2COIV43TFA');">
            
              

  <div class="info">
    <h2><a href="/i/nMb8/">Kayak through caves</a></h2>
    <div class="overlay-perm">
      <span class="done-by"><i class="icon-check"></i>Done by <span class="blue-text">454 <i class="icon-user"></i></span></span>
    </div>
    <div class="overlay">
      <div class="doing_done">
        <span class="listed-by"><i class="icon-list-ul"></i>Listed by 6458 <i class="icon-user"></i></span>
      </div>

      <div class="info-btns">
        <div class="info-stats">
         <i class="icon-heart"></i>298&nbsp;&nbsp;&nbsp;
         <i class="icon-comment"></i>0
       </div>

       <ul>
        
        <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/3282872/copy/" class="action-add"><i class="icon-plus"></i><br />ADD</a></li>
        <li><a data-backdrop="true" class="action-add-completed" data-toggle="modal" data-target="#itemModal" data-remote="/3282872/copy/completed/"><i class="icon-check"></i><br />DONE</a></li>
        <li><a href="/3282872/like/" class="action-like"><i class="icon-thumbs-up-alt"></i><br />LIKE</a></li>
        

        <li><a class="addthis_button_compact" addthis:url="//bucketlist.org//i/nMb8/" addthis:title="Kayak through caves"><i class="icon-share"></i><br />SHARE</a></li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>


        <div class="item grid-item col-md-4">
          
          
          <div class="img-thumbnail <!--orange-->" style="background-image: url('http://yourdream.s3.amazonaws.com/media/cache/ab/75/ab754e36a5ce1a588365962bb5ced9a2.jpg?Signature=0zsbxC54F38ot0lMx4o2ser9zrg%3D&amp;Expires=1438921458&amp;AWSAccessKeyId=AKIAIXZP2D2COIV43TFA');">
            
              

  <div class="info">
    <h2><a href="/i/nMvJ/">Write a Novel</a></h2>
    <div class="overlay-perm">
      <span class="done-by"><i class="icon-check"></i>Done by <span class="blue-text">48 <i class="icon-user"></i></span></span>
    </div>
    <div class="overlay">
      <div class="doing_done">
        <span class="listed-by"><i class="icon-list-ul"></i>Listed by 189 <i class="icon-user"></i></span>
      </div>

      <div class="info-btns">
        <div class="info-stats">
         <i class="icon-heart"></i>14&nbsp;&nbsp;&nbsp;
         <i class="icon-comment"></i>0
       </div>

       <ul>
        
        <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/3284123/copy/" class="action-add"><i class="icon-plus"></i><br />ADD</a></li>
        <li><a data-backdrop="true" class="action-add-completed" data-toggle="modal" data-target="#itemModal" data-remote="/3284123/copy/completed/"><i class="icon-check"></i><br />DONE</a></li>
        <li><a href="/3284123/like/" class="action-like"><i class="icon-thumbs-up-alt"></i><br />LIKE</a></li>
        

        <li><a class="addthis_button_compact" addthis:url="//bucketlist.org//i/nMvJ/" addthis:title="Write a Novel"><i class="icon-share"></i><br />SHARE</a></li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>


        <div class="item grid-item col-md-4">
          
          
          <div class="img-thumbnail <!--red-->" style="background-image: url('http://yourdream.s3.amazonaws.com/media/cache/10/11/1011a3c61b7c0945fcbaaff2c5b6d66a.jpg?Signature=TLvqgKLf0Z2gMtV6TPhzF0V%2BFNA%3D&amp;Expires=1438921458&amp;AWSAccessKeyId=AKIAIXZP2D2COIV43TFA');">
            
              

  <div class="info">
    <h2><a href="/i/nMdl/">Climb Mt. Kilimanjaro</a></h2>
    <div class="overlay-perm">
      <span class="done-by"><i class="icon-check"></i>Done by <span class="blue-text">25 <i class="icon-user"></i></span></span>
    </div>
    <div class="overlay">
      <div class="doing_done">
        <span class="listed-by"><i class="icon-list-ul"></i>Listed by 476 <i class="icon-user"></i></span>
      </div>

      <div class="info-btns">
        <div class="info-stats">
         <i class="icon-heart"></i>29&nbsp;&nbsp;&nbsp;
         <i class="icon-comment"></i>0
       </div>

       <ul>
        
        <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/3282973/copy/" class="action-add"><i class="icon-plus"></i><br />ADD</a></li>
        <li><a data-backdrop="true" class="action-add-completed" data-toggle="modal" data-target="#itemModal" data-remote="/3282973/copy/completed/"><i class="icon-check"></i><br />DONE</a></li>
        <li><a href="/3282973/like/" class="action-like"><i class="icon-thumbs-up-alt"></i><br />LIKE</a></li>
        

        <li><a class="addthis_button_compact" addthis:url="//bucketlist.org//i/nMdl/" addthis:title="Climb Mt. Kilimanjaro"><i class="icon-share"></i><br />SHARE</a></li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>


        <div class="item grid-item col-md-4">
          
          
          <div class="img-thumbnail <!--green-->" style="background-image: url('http://yourdream.s3.amazonaws.com/media/cache/88/2c/882ccaad6f8f8a94c884025bd2db58b1.jpg?Signature=%2B7%2B9IUR9uWVk5OX%2BhiZq%2BP8tmac%3D&amp;Expires=1438921458&amp;AWSAccessKeyId=AKIAIXZP2D2COIV43TFA');">
            
              

  <div class="info">
    <h2><a href="/i/nMl5/">Go VIP to Your Favorite Band</a></h2>
    <div class="overlay-perm">
      <span class="done-by"><i class="icon-check"></i>Done by <span class="blue-text">3301 <i class="icon-user"></i></span></span>
    </div>
    <div class="overlay">
      <div class="doing_done">
        <span class="listed-by"><i class="icon-list-ul"></i>Listed by 2768 <i class="icon-user"></i></span>
      </div>

      <div class="info-btns">
        <div class="info-stats">
         <i class="icon-heart"></i>1,368&nbsp;&nbsp;&nbsp;
         <i class="icon-comment"></i>0
       </div>

       <ul>
        
        <li><a data-backdrop="true" data-toggle="modal" data-target="#itemModal" data-remote="/3283489/copy/" class="action-add"><i class="icon-plus"></i><br />ADD</a></li>
        <li><a data-backdrop="true" class="action-add-completed" data-toggle="modal" data-target="#itemModal" data-remote="/3283489/copy/completed/"><i class="icon-check"></i><br />DONE</a></li>
        <li><a href="/3283489/like/" class="action-like"><i class="icon-thumbs-up-alt"></i><br />LIKE</a></li>
        

        <li><a class="addthis_button_compact" addthis:url="//bucketlist.org//i/nMl5/" addthis:title="Go Camping"><i class="icon-share"></i><br />SHARE</a></li>
      </ul>
    </div>

  </div>
</div>

</div>
</div>



<div class="clear"></div>
<br>
<div style="text-align: center;"><a class="btn bucketblue" href="/featured/">Discover More</a></div>

<div class="clear"></div>
<br>

<div class="clear"></div>
<br>
<div class="clear"></div>
<br>


     



<div class="clear"></div>
<br>

<div class="clear"></div>
</div>

</div>
</div>

          


    <!--     </div>
        
      </div>
    </div>
  </div>

</div> -->

<div class="home-what-are-you-waiting">
  <h2 class="title">What are you waiting for?</h2>
  <a class="btn bucketgreen" href="/users/new">Start achieving your goals</a>

</div>
<div class="clear"></div>


  
<div class="clear"></div>
</div>


  <div class="bucket-footer-wrapper">
    <div class="bucket-footer">
      
      <div class="col-lg-12">
        <ul class="align-center nav">
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/team">Leadership Team</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-lg-12 social-wrap">
        <ul class="social align-center">
          <li class="footer-ico-fb"><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
          <li class="footer-ico-tw"><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
          <li class="footer-ico-pin"><a href="#" target="_blank"><i class="icon-pinterest"></i></a></li>
          <li class="footer-ico-gpl"><a href="#" target="_blank"><i class="icon-google-plus"></i></a></li>
          <li class="footer-ico-ins"><a href="#" target="_blank"><i class="icon-instagram"></i></a></li>
        </ul>
      </div>

      <div class="col-lg-12 align-center">
        <div class="copyright">&copy; Wynning.co 2015</div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>



</div>

 


