<!-- <h1>Hello World</h1> -->

<%# if current_user %>
    <!-- <p id="login">Welcome, <%#= current_user.first_name.capitalize %>  |  <%#= link_to "Log out", logout_path, method: "delete" %></p> -->
<%# else %>
  <!-- <ul> -->
    <!-- <p id="login"><%#= link_to "Login Loser", new_session_path %>  |  <%#= link_to "Signup", new_user_path %></p> -->
  <!-- </ul> -->
<%# end %>



<%# @stream.each do |key, value| %>
  <!-- <p><%#= value.first_name %> completed -->
  <!-- <%#= key.title %> <%#= time_ago_in_words(key.updated_at)%> ago</p> -->
  <%# end %>


    
 

  <% @stream.each do |key, value| %>
    <div class="panel panel-default">
  <div class="panel-body">

    <p>

    <div class="activity-name">
      <%= value[1].first_name %> 

      </div>
      completed
      <div class="activity-title">
    <%= value[0].title %> 
    </div>
  
    <div class="activity-date">
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      <%= time_ago_in_words(value[0].updated_at)%> ago
      </div>

      </p>
     
         </div>
    </div>
    <% end %>
 

