<!-- <div id="addSTGArea"> -->
<div class="container" id="addACTArea">
  <!-- <div class="well">  <h1>New Short Term Goal</h1></div> -->
</div>
<div id="newAct">
    <%= render 'activities/form' %>
    <p><%= link_to "Back", current_user, :class => 'btn btn-success', :id => 'backtodash' %></p>
</div>
