<h1>Here you can see your progress toward your One Month Goal.</h1>

<h1>Ok Lardo.. It's time now to figure out how to reach this month's goal</h1>
<p>What can you do for 15 minutes each day that will help you accomplish your goal?<p>
<%= render 'activities/form' %>

<%= link_to "Back to your Dashboard", @user %>
