body, p, li, ul, a, h1, h2, h3{
  list-style-type: none;
}


.dena-top-bar {

}

.dena-nav-bar {


}
.dena-highlevelgoal-list {

}

.highlevelgoal {
  font-size: 35px;
  list-style-type: none;


}

.due_date {
  font-size: 14px;
}

.dena-onemonthgoal-list li {
  text-align: left;
  padding-left: 1px;

}


.panel-title {
  padding-left: 5px;
}
.dena-sub-goal-list {
  padding-left: 19px;
}

