

@font-face {
  font-family: "And Black";
  src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
       url("fonts/and_black.woff") format('woff'),
       url("fonts/and_black.ttf") format('truetype');
}

body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

::-moz-selection {
  background-color: #6ab344;
  color: #fff;
}

::selection {
  background-color: #6ab344;
  color: #fff;
}

.wynning-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.wynning-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.wynning-fab {
  position: absolute;
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #E23F26 !important;
  color: black !important;
}

.wynning-mobile-title {
  display: none !important;
}


.wynning-logo-image {
  height: 28px;
  width: 140px;
}


.wynning-header {
  overflow: visible;
  background-color: white;
}

  .wynning-header .material-icons {
    color: #767777 !important;
  }

  .wynning-header .mdl-layout__drawer-button {
    background: transparent;
    color: #767777;
  }

  .wynning-header .mdl-navigation__link {
    color: #757575;
    font-weight: 700;
    font-size: 14px;
  }

  .wynning-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 500px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .wynning-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 800px;
  }

  .wynning-search-box.is-focused ~ .wynning-navigation-container {
    opacity: 0;
    width: 100px;
  }


  .wynning-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
  }

    .wynning-navigation .mdl-navigation__link:hover {
      border-bottom: 4px solid #8bc34a;
    }

  .wynning-search-box {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }

  .wynning-more-button {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }


.wynning-drawer {
  border-right: none;
}

  .wynning-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }

  .wynning-drawer .mdl-navigation__link.mdl-navigation__link {
    font-size: 14px;
    color: #757575;
  }

  .wynning-drawer span.mdl-navigation__link.mdl-navigation__link {
    color: #8bc34a;
  }

  .wynning-drawer .mdl-layout-title {
    position: relative;
    background: #6ab344;
    height: 160px;
  }

    .wynning-drawer .wynning-logo-image {
      position: absolute;
      bottom: 16px;
    }

.wynning-be-together-section {
  position: relative;
  height: 800px;
  width: auto;
  background-color: #f3f3f3;
  background: url('#') center 30% no-repeat;
  background-size: cover;
}

.wynning-font {
  font-family: 'And Black', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #767777;
  font-weight: 300;
}
/*.wynning-pier  {
  background-image: url('/assets/images/wooden-pier-into-the-ocean.jpg');
  
  background-size: cover;
  /*background-repeat: no-repeat;*/


.wynning-slogan {
  font-size: 60px;
  padding-top: 160px;
}

.wynning-sub-slogan {
  font-size: 21px;
  padding-top: 24px;
}

.wynning-create-character {
  font-size: 21px;
  padding-top: 400px;
}

  .wynning-create-character a {
    text-decoration: none;
    color: #767777;
    font-weight: 300;
  }

.wynning-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.wynning-screens {
  text-align: right;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.wynning-screen {
  text-align: center;
}

.wynning-screen .wynning-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.wynning-image-link {
  text-decoration: none;
}

.wynning-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

  .wynning-wear .wynning-screen-image {
    width: 40%;
    z-index: 1;
  }


.wynning-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

  .wynning-phone .wynning-screen-image {
    width: 100%;
    z-index: 1;
  }


.wynning-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

  .wynning-tablet .wynning-screen-image {
    width: 100%;
    z-index: 1;
  }

  .wynning-tablet .wynning-link {
    display: block;
    z-index: 2;
  }


.wynning-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

  .wynning-tv .wynning-screen-image {
    width: 100%;
    z-index: 1;
  }


.wynning-auto {
  display: inline-block;
  width: 300px;
  overflow: hidden;
}

  .wynning-auto .wynning-screen-image {
    display: block;
    height: 300px;
    z-index: 1;
  }


.wynning-wear-section {
  position: relative;
  background: url('#') center top no-repeat;
  background-size: cover;
  height: 800px;
}

.wynning-wear-band {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #37474f;
}

.wynning-wear-band-text {
  max-width: 800px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

  .wynning-wear-band-text p {
    padding-top: 8px;
  }

.wynning-link {
  text-decoration: none;
  color: #E23F26 !important;
}

  .wynning-link:hover {
    color: #1AB2AB !important;
  }

  .wynning-link .material-icons {
    position: relative;
    top: 6px;
  }

.wynning-alt-link {
  text-decoration: none;
  color: #1AB2AB !important;
  font-size: 16px;
}

  .wynning-alt-link:hover {
    color: #00bfa5 !important;
  }

  .wynning-alt-link .material-icons {
    position: relative;
    top: 6px;
  }

.wynning-customized-section {
  text-align: center;
}

.wynning-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

  .wynning-customized-section-text p {
    padding-top: 16px;
  }

.wynning-customized-section-image {
  background: url('#') center top no-repeat;
  background-size: cover;
  height: 400px;
}

.wynning-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

  .wynning-more-section .wynning-section-title {
    margin-left: 12px;
    padding-bottom: 24px;
  }

.wynning-card-container {
}

  .wynning-card-container .mdl-card__media {
    overflow: hidden;
    background: transparent;
  }

    .wynning-card-container .mdl-card__media img {
      width: 100%;
    }

  .wynning-card-container .mdl-card__title {
    background: transparent;
    height: auto;
  }

  .wynning-card-container .mdl-card__title-text {
    color: black;
    height: auto;
  }

  .wynning-card-container .mdl-card__supporting-text {
    height: auto;
    color: black;
    padding-bottom: 48px;
  }

  .wynning-card-container .mdl-card__actions {
    position: absolute;
    bottom: 0;
  }

  .wynning-card-container .mdl-card__actions a {
    border-top: none;
    line-height: 32px;
    font-size: 16px;
  }

.wynning-footer {
  background-color: #fafafa;
  position: relative;
}

  .wynning-footer a:hover {
    color: #8bc34a;
  }

  .wynning-footer .mdl-mega-footer--top-section::after {
    border-bottom: none;
  }

  .wynning-footer .mdl-mega-footer--middle-section::after {
    border-bottom: none;
  }

  .wynning-footer .mdl-mega-footer--bottom-section {
    position: relative;
  }

  .wynning-footer .mdl-mega-footer--bottom-section a {
    margin-right: 2em;
  }

  .wynning-footer .mdl-mega-footer--right-section a .material-icons {
    position: relative;
    top: 6px;
  }


.wynning-link-menu:hover {
  cursor: pointer;
}


/**** Mobile layout ****/
@media (max-width: 900px) {
  .wynning-navigation-container {
    display: none;
  }

  .wynning-title {
    display: none !important;
  }

  .wynning-mobile-title {
    display: block !important;
    position: absolute;
    left: calc(50% - 70px);
    top: 12px;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .wynning-search-box.is-focused ~ .wynning-mobile-title {
    opacity: 0;
  }

  .wynning-more-button {
    display: none;
  }

  .wynning-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .wynning-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .wynning-be-together-section {
    height: 350px;
  }

  .wynning-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .wynning-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .wynning-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .wynning-create-character img {
    height: 12px;
  }

  .wynning-fab {
    display: none;
  }

  .wynning-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .wynning-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
