<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
    h1 {
    font-family: helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 1.2;
    color: #33AD5C;
    }

    h2   {
      font-weight: 200;
      color: black;
      font-family: Helvetica;
      text-align: center;
    }

    p    {

    font-family: helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.8pt;
    word-spacing: 0.4pt;
    line-height: 0.7;

    }
</style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
